.CardInformacoes {
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  border-radius: 8px;
  color: black;
  font-weight: 600;
}

.CardInformacoes h3 {
  margin-bottom: 15px;
}

.CardInformacoes p {
  width: 80%;
}
